<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form method="POST" action="/team">
     <label>Team Name:</label>
     <input type="text" name="name" id="name" placeholder="Name"><br>
     <label>Coach Name:</label>
     <input type="text" name="coach" id="coach" placeholder="Coach"><br>
     <label>Point Guard:</label>
     <input type="text" name="pg" id="pg" placeholder="PG"><br>
     <label>Shooting Guard:</label>
     <input type="text" name="sg" id="sg" placeholder="SG"><br>
     <label>Small Forward</label>
     <input type="text" name="sf" id="sf" placeholder="SF"><br>
     <label>Power Forward</label>
     <input type="text" name="pf" id="pf" placeholder="PF"><br>
     <label>Center</label>
     <input type="text" name="c" id="c" placeholder="C"><br>
     <input type="submit" id="Submit">
   </form>
 </body>
</html>

<!-- expect(page).to have_selector("form")
expect(page).to have_field(:name)
expect(page).to have_field(:coach)
expect(page).to have_field(:pg)
expect(page).to have_field(:sg)
expect(page).to have_field(:sf)
expect(page).to have_field(:pf)
expect(page).to have_field(:c) -->
