<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form method="POST" action="/newteam">
     <label for="name">Team Name:
       <input type="text" name="name" value="">
     </label>
     <label for="coach">Coach
       <input type="text" name="coach" value="">
     </label>
     <label for="pg">Point Guard
       <input type="text" name="pg" value="">
     </label>
     <label for="sg">Shooting Guard
       <input type="text" name="sg" value="">
     </label>
     <label for="pf">Power Forward
       <input type="text" name="pf" value="">
     </label>
     <label for="sf">Small Forward
       <input type="text" name="sf" value="">
     </label>
     <label for="c">Center
       <input type="text" name="c" value="">
     </label>
     <input type="submit" value="Submit">
   </form>
 </body>
</html>
